body {
	background-color: gray;
}

#container {
	width: 960px;
	margin: 0 auto;
}

.square {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 2.5rem;
	width: 2.5rem;
	background-color: #FFF;
}

.hoverTrail {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 2.5rem;
	width: 2.5rem;
	background-color: #000;
}